<!-- Filter options -->
<div class="header">
    <div class="filters">
        <div class="filter" id="trending">
            <div class="filter-image">
                <a href="/listings/category/trending">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/trending">
                <div class="filter-info">Trending</div>
            </a>
        </div>

        <div class="filter" id="rooms">
            <div class="filter-image">
                <a href="/listings/category/rooms">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/rooms">
                <div class="filter-info">Rooms</div>
            </a>
        </div>

        <div class="filter" id="iconiccity">
            <div class="filter-image">
                <a href="/listings/category/iconiccity">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/iconiccity">
                <div class="filter-info">Iconic City</div>
            </a>
        </div>

        <div class="filter" id="castles">
            <div class="filter-image">
                <a href="/listings/category/castles">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/castles">
                <div class="filter-info">Castles</div>
            </a>
        </div>
        
        <div class="filter" id="amazingpools">
            <div class="filter-image">
                <a href="/listings/category/amazingpools">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/amazingpools">
                <div class="filter-info">Amazing Pools</div>
            </a>
        </div>

        <div class="filter" id="camping">
            <div class="filter-image">
                <a href="/listings/category/camping">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/camping">
                <div class="filter-info">Camping</div>
            </a>
        </div>

        <div class="filter" id="beech">
            <div class="filter-image">
                <a href="/listings/category/beech">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/beech">
                <div class="filter-info">Beech</div>
            </a>
        </div>

        <div class="filter" id="arctic">
            <div class="filter-image">
                <a href="/listings/category/arctic">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/arctic">
                <div class="filter-info">Arctic</div>
            </a>
        </div>
        
        <div class="filter" id="beachfront">
            <div class="filter-image">
                <a href="/listings/category/beachfront">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/beachfront">
                <div class="filter-info">Beach Front</div>
            </a>
        </div>

        <div class="filter" id="domes">
            <div class="filter-image">
                <a href="/listings/category/domes">
                    <i class="fa-solid fa-fire"></i>
                </a>
            </div>

            <a href="/listings/category/domes">
                <div class="filter-info">Domes</div>
            </a>
        </div>


    </div>

    <div class="taxBtn">
        <div class="form-check form-switch">
            <input class="form-check-input switch" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
        </div>
    </div>

 </div>