<% if(typeof success != 'undefined' && success.length){  %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(typeof error != 'undefined' && error.length){  %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<!-- 3 Facts about flash
1. flash messages ko show karne we liye always use ejs file.
2. flash always uses with redirect. agar Nhi karenge redirect ke sath use then always refresh karte hue we will see the flash message .
3. flash messages always uses with express session because usme eak chota storage hota hai flash ke liye jaha pe flash messages store hote hai . -->