<footer>
    <div id="footer">
        <div class="left">
            <div class="f-name">
                <span>&copy; 2024 Airbnb,inc.</span>
            </div>
            <div class="f-rules">
                <span><a href="/privacy">Privacy</a></span>
                <span><a href="/terms">Terms</a></span>
                <span><a href="/sitemap">Sitemap</a></span>
                <span><a href="/details">Company details</a></span>
            </div>
        </div>

        <div class="right">
            <div class="f-logo">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
</footer>