<% layout("layouts/boilerplate.ejs") %>

<body>
   
    <div class="signup">
        <h1>Welcome to Wanderlust</h1>
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="username">
                <label for="username" class="form-label">Username :</label>
                <input type="text" id="username" placeholder="Enter Your Username" class="form-control" required>
            </div>
            <div class="email">
                <label for="email" class="form-label">Email :</label>
                <input type="text" id="email" placeholder="Enter Your Email" class="form-control" required>
            </div>
            <div class="password">
                <label for="password" class="form-label">Password :</label>
                <input type="password" id="password" placeholder="Enter Your Password" class="form-control" required>
            </div>

            <button id="btn">Signup</button>
        </form>
    </div>

</body>